.booking-container {
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3%;
    border-radius: 3%;
    height: 80%;
}
.book-now-btn {
    background-color: #DC834E !important;
    border: none !important;
    height: 50px;
}

@media only screen and (min-width : 1180px) {
    .booking-container {
        width: 50%;
    }
}
@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .booking-container {
        width: 45%;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .booking-container {
        width: 100%;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .booking-container {
        width: 100%;
    }
}