.your-booking-container {
    padding: 5%;
}
.single-billing {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    padding: 30px 50px;
    text-align: left;
}
.delete-place-btn {
    text-align: right;
}
.pending {
    background-color: crimson;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}
.approved {
    background-color: rgb(20, 223, 20);
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .single-billing {
        width: 70%;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .single-billing {
        width: 100%;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .single-billing {
        width: 100%;
        font-size: 12px;
    }
}