.your-booking-container {
    padding: 5%;
}
.single-billing {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 50px;
    text-align: left;
}
.delete-place-btn {
    text-align: right;
}
