@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

.support-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 7%;
    background-color: #F9F4F0;
    color: #202F59;
    font-weight: 900;
    font-family: 'Zen Antique', serif;
}
.support-icon {
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}

@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .support-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .support-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
}

@media only screen and (min-width : 0px) and (max-width: 480px) {
    .support-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
}