@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

.support-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 7%;
    background-color: #F9F4F0;
    color: #202F59;
    font-weight: 900;
    font-family: 'Zen Antique', serif;
}
.support-icon {
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    /* border: 1px solid; */
    /* padding: 10px; */
}