.side-bar-container {
    text-align: left;
    padding: 2%;
    background-color: #212529;
    width: 25%;
    height: 100vh;
    /* position: fixed; */
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}
.navBar-item {
    /* color: #fff !important; */
    font-size: 20px;
}