@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&display=swap');
.explore-tour-title {
    text-align: left !important;
    margin-left: 8%;
}
.explore-tour-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
.explore-tour-title p {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width : 481px) and (max-width: 768px) {
    .explore-tour-title h1 {
        font-size: 28px;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .explore-tour-title h1 {
        font-size: 28px;
    }
}