@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&display=swap');
.perfect-destination-container {
    display: flex;
    padding: 50px;
    align-items: center;
}
.perfect-destination {
    width: 30%;
    text-align: left;
    padding: 0 20px;
}
.perfect-destination p {
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #9E5D36;
}
.perfect-destination h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
/* .perfect-destination-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 50vh;
    text-align: left;
}
.perfect-destination-text {
    position: relative;
    left: 0;
    top: 0;
} */
.carosel{
    /* border: 1px solid;
    color: black; */
    width: 70%;
}