@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&display=swap');
.perfect-destination-container {
    display: flex;
    padding: 50px;
    align-items: center;
}
.perfect-destination {
    width: 30%;
    text-align: left;
    padding: 0 20px;
}
.perfect-destination p {
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #9E5D36;
}
.perfect-destination h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.carosel{
    width: 70%;
}

@media only screen and (min-width : 1180px) {
    .perfect-destination-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perfect-destination {
        width: 80%;
        padding: 0 20px;
    }
    .carosel{
        width: 90%;
        margin-top: 20px;
    }
}
@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .perfect-destination-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perfect-destination {
        width: 80%;
        padding: 0 20px;
    }
    .carosel{
        width: 90%;
        margin-top: 20px;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .perfect-destination-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perfect-destination h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
    }
    .perfect-destination {
        width: 80%;
        padding: 0 20px;
    }
    .carosel{
        width: 90%;
        margin-top: 20px;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .perfect-destination-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perfect-destination h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
    }
    .perfect-destination {
        width: 100%;
        padding: 0 0;
    }
    .carosel{
        width: 100%;
        margin-top: 20px;
    }
}