.add-tour-form {
    width: 100%;
    margin: auto;
    padding: 50px 5%;
}
.new-tour-form {
    width: 60%;
    margin: auto;
}

@media only screen and (min-width : 1180px) {
    .new-tour-form {
        width: 80%;
    }
}
@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .new-tour-form {
        width: 80%;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .new-tour-form {
        width: 90%;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .new-tour-form {
        width: 90%;
    }
}