@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&display=swap');
.bg {
    width: 100%;
    display: flex;
    position: absolute;
    height: 80vh;
}
.banner-text {
    position: relative;
    left: 20%;
    height: 80vh;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text p {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #9E5D36;
}
.banner-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 66px;
}
.banner-1 {
    width: 40%;
}
.banner-2 {
    width: 60%;
}

@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .banner-1 {
        display: none;
    }
    .banner-2 {
        width: 100%;
    }
    .banner-text h1 {
        font-size: 46px;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .banner-1 {
        display: none;
    }
    .banner-2 {
        width: 100%;
    }
    .banner-text h1 {
        font-size: 26px;
    }
    .bg {
        width: 100%;
        display: flex;
        position: absolute;
        height: 80vh;
    }
    .banner-text {
        position: relative;
        left: 20%;
        height: 80vh;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .banner-1 {
        display: none;
    }
    .banner-2 {
        width: 100%;
    }
    .banner-text h1 {
        font-size: 26px;
    }
    .bg {
        width: 100%;
        display: flex;
        position: absolute;
        height: 80vh;
    }
    .banner-text {
        position: relative;
        left: 20%;
        height: 80vh;
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}