@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&display=swap');

.offers-container {
    padding: 0 5%;
    padding-top: 50px;
    padding-bottom: 200px;
}
.offer-text p {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #9E5D36;
}
.offer-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
}
.offer-card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.offers-card {
    text-align: left;
}
.offers-img-bg {
    border-radius: 25px;
    position: absolute;
    height: 300px;
    width: 400px;
}
.offers-text {
    position: relative;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 75%;
}
.offer-btn {
    width: 150px;
}

@media only screen and (min-width : 1180px) {
    .offers-container {
        padding: 0 5%;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .offer-card-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 5%;
    }
    .offers-card {
        margin: 0 auto;
    }
    .offers-img-bg {
        height: 280px;
        width: 300px;
    }
    .offers-text {
        height: 280px;
        width: 300px;
        margin-bottom: 50px;

    }
}
@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .offers-container {
        padding: 0 5%;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .offer-card-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5%;
    }
    .offers-card {
        margin: 0 auto;
    }
    .offers-img-bg {
        height: 250px;
        width: 300px;
    }
    .offers-text {
        height: 250px;
        width: 300px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .offers-container {
        padding: 0 5%;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .offer-card-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5%;
    }
    .offers-card {
        margin: 0 auto;
    }
    .offers-img-bg {
        height: 250px;
        width: 300px;
    }
    .offers-text {
        height: 250px;
        width: 300px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .offers-container {
        padding: 0 5%;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .offer-card-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5%;
    }
    .offers-card {
        margin: 0 auto;
    }
    .offers-img-bg {
        height: 250px;
        width: 300px;
    }
    .offers-text {
        height: 250px;
        width: 300px;
        margin-bottom: 50px;
    }
}