@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.information-container {
    width: 65%;
    text-align: left;
    font-family: 'Roboto Slab', serif;
}
.information-container p, ul {
    color: #666666;
}
@media only screen and (min-width : 1180px) {
    .information-container {
        width: 55%;
    }
}
@media only screen and (min-width : 769px) and (max-width: 1179px) {
    .information-container {
        width: 55%;
    }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
    .information-container {
        width: 100%;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .information-container {
        width: 100%;
    }
}